.carousel-item {
    transition: transform .2s;
    height: 25em;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}

.carousel-div{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1em;
    padding: 0.2em 0.8em;
}