.main-review-card {
    border: 1px solid;
    border-radius: 0.5em;
    text-decoration: none;
    padding: 0.2em 0.8em;
}

.main-review-border-red {
    color: #bb2d3b;
}

.main-review-border-green {
    color: #4cbb2d;
}

.review-card {
    width: 100%;
    height: 210px;
}

.review-card .review-description {
    text-justify: auto;
}

.rating-5 {
    color: red;
}

.rating-10 {
    color: coral;
}

.rating-15 {
    color: limegreen;
}

.rating-19 {
    color: forestgreen;
}

.rating-20 {
    color: green;
}